body {
    background-color: #1A1D1A;
    color: #8AB0AB;
    font-family: Arial, sans-serif;
    margin: 0;

}

h1 {
    color: #3E505B;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.controls input[type="text"] {
    width: 300px;
    height: 30px;
    border: 2px solid #3E505B;
    border-radius: 5px;
    padding: 0 10px;
}

.controls button {
    margin-left: 10px;
    width: 100px;
    height: 35px;
    background-color: #3E505B;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.controls select {
    margin-left: 10px;
    width: 150px;
    height: 35px;
    background-color: #8AB0AB;
    color: #3E505B;
    border: 2px solid #3E505B;
    border-radius: 5px;
    font-size: 14px;
}

.database-info {
    padding: 15px;
    background-color: #3E505B;
    color: white;
    border-radius: 5px;
    display:block;
    width: 80%;
    margin: 30px auto;
    min-height: 90vh;
}

footer {
    width: 100%;
    background-color: #26413C;
    color: white;
    padding: 0;
}

footer > p{
    margin: 0px;
    padding: 5px;
}

footer > p > a{
    color: #3E505B;
}

.notaFinalPAS1{
    margin:auto;
}

table {
    border-line: white;
  display: table;
  width: 100%;
  border-collapse: collapse;
}

tr {
  display: table-row;
}

td, th {
  display: table-cell;
  border: 2px solid #26413C;
  padding: 8px;
}

#registros {
    font-size: 10px;
    line-height: 30px;

}

#registros span{
    background-color: #26413C;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;

}

#registros a{
    color: red;
}

.registros {
    display: inline;
}