:root {
    --cor1: #8AB0AB;
    --cor2: #3E505B;
    --cor3: #26413C;
    --cor4: #03120E;
}

body {
    background-color: var(--cor4);
    color: var(--cor1);
    font-family: Arial, sans-serif;
    margin: 0;

}

h1 {
    color: var(--cor3);
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
}

.controls input[type="text"] {
    width: 40%;
    height: 30px;
    max-width: 250px;
    border: 2px solid var(--cor2);
    border-radius: 5px;
    padding: 0 10px;
}

.controls button {
    margin-left: 10px;
    width: 25%;
    max-width: 100px;
    height: 35px;
    background-color: var(--cor2);
    color: var(--cor1);
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.controls select {
    margin-left: 10px;
    width: 35%;
    max-width: 150px;
    height: 35px;
    background-color: var(--cor1);
    color: var(--cor3);
    border: 2px solid var(--cor2);
    border-radius: 5px;
    font-size: 14px;
}

.database-info {
    padding: 15px;
    background-color: var(--cor2);
    color: white;
    border-radius: 5px;
    display: block;
    width: 80%;
    max-width: 1400;
    margin: 20px auto;
    height: 90vh;
    min-width: 300px;
    overflow: auto;
}

footer {
    width: 100%;
    background-color: var(--cor3);
    color: white;
    padding: 0;
    text-align: center;
}

footer>p {
    margin: 0px;
    padding: 5px;
}

footer>p>a {
    color: var(--cor1);
}

table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

tr {
    display: table-row;
}

td, th {
    display: table-cell;
    border: 2px solid #03120e98;
    padding: 8px;
}

#registros {
    font-size: 15px;
    line-height: 25px;

}

#registros span {
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 0 6px;
    margin: 2px;
    display: inline-block;

}

#registros a {
    color: red;
    padding: 5px;
}

button:hover{
    cursor: pointer;
}
